<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838488885598-04up95b0j9b9p82nf2q1lkpsfgl8qj1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838488885598-04up95b0j9b9p82nf2q1lkpsfgl8qj1t</string>
	<key>API_KEY</key>
	<string>AIzaSyAYyzKcd7IhdYvuiMTm45C3GWD_CgwK3Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>838488885598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.aakashien</string>
	<key>PROJECT_ID</key>
	<string>aakashienapp</string>
	<key>STORAGE_BUCKET</key>
	<string>aakashienapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838488885598:ios:9598a6e7dee980827fa7cf</string>
	<key>DATABASE_URL</key>
	<string>https://aakashienapp.firebaseio.com</string>
</dict>
</plist>